<div class="col-6 col-md-4 col-lg-3">
    <a class="pg_video" href="{$system['system_url']}/posts/{$video['post_id']}">
    	<video>
            <source src="{$system['system_uploads']}/{$video['source']}" type="video/mp4">
            <source src="{$system['system_uploads']}/{$video['source']}" type="video/webm">
        </video>
        <div class="play-button"><i class="fa fa-play fa-2x"></i></div>
    </a>
</div>