<div class="chat-colors-menu">
	<div class="js_scroller" data-slimScroll-height="180">
		<div class="item js_chat-color" data-color="#597ba5" style="color: #597ba5;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#0ba05d" style="color: #0ba05d;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#ed9e6a" style="color: #ed9e6a;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#a085e2" style="color: #a085e2;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#01a5a5" style="color: #01a5a5;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#2b87ce" style="color: #2b87ce;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#ff72d2" style="color: #ff72d2;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#c9605e" style="color: #c9605e;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#056bba" style="color: #056bba;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#fc9cde" style="color: #fc9cde;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#70a0e0" style="color: #70a0e0;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#f2812b" style="color: #f2812b;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#8ec96c" style="color: #8ec96c;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#f33d4c" style="color: #f33d4c;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#aa2294" style="color: #aa2294;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#0e71ea" style="color: #0e71ea;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#b582af" style="color: #b582af;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#a1ce79" style="color: #a1ce79;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#56c4c5" style="color: #56c4c5;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#f9a722" style="color: #f9a722;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#f9c270" style="color: #f9c270;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#609b41" style="color: #609b41;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#51bcbc" style="color: #51bcbc;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#008484" style="color: #008484;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
		<div class="item js_chat-color" data-color="#5462a5" style="color: #5462a5;">
			<i class="fa fa-circle fa-2x"></i>
		</div>
	</div>
</div>