<div style="width: 50%; margin: 0 auto;">
    <video controls="controls" preload="auto" autoplay>
        <source src="{$system['system_uploads']}/{$src}" type="video/mp4">
        <source src="{$system['system_uploads']}/{$src}" type="video/webm">
    </video>
</div>