{include file='_head.tpl'}
{include file='_header.tpl'}

<!-- page content -->
<div class="container mt20">
    <div class="row">

	    <!-- content panel -->
	    <div class="col-12">
    		<!-- publisher -->
            {include file='_publisher.tpl' _handle="me" _privacy=true}
            <!-- publisher -->
	    </div>
	    <!-- content panel -->
	    
	</div>
</div>
<!-- page content -->

{include file='_footer.tpl'}