
/*Template Name: Kolo - Premium Startup Landing Page Template
Theme URL: http://themeforest.net/user/DSA79/
Description: Kolo - Premium Startup Landing Page Template
Author: DSA79
Author URL: http://themeforest.net/user/DSA79
Version: 1.0.0
Website: www.dsathemes.com
Tags: responsive, premium template, dsathemes, startup, html5 template, one page, landing page, business, corporate, project
*/



/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Intro      			   */
/*   04 - Services         		   */
/*   05 - Our Process          	   */
/*   06 - About	, About-1   	   */
/*   07 - Promo LIne           	   */
/*   08 - Statistic Banner         */
/*   09 - Team			           */
/*   10 - Big Promo Line 	  	   */
/*   11 - MailChimp Form  	   	   */
/*   12 - Portfolio        		   */
/*   13 - Features List      	   */
/*   14 - Testimonials Rotator 	   */
/*   15 - Clients		 	  	   */
/*   16 - Pricing				   */
/*   17 - Blog		 	  	   	   */
/*   18 - Bottom Promo Line	   	   */
/*   19 - FAQs					   */
/*   20 - Contacts		  	   	   */
/*   21 - Call To Action   		   */
/*   22 - Footer		 	  	   */
/*   23 - Scroll to Top	 	  	   */
/*   24 - Contact Form Response    */ 



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

body {
	color: #444;
	font-size: 15px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*------------------------------------------*/
/*	 Preload Animation 
/*------------------------------------------*/

.animationload {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #edb21d; 
	z-index: 999999; 
}

.loader {
	position: absolute;
	top: 50%; 
	left: 50%; 
	margin: -100px 0 0 -100px;
	width: 200px;
	height: 200px;
	background-image: url(../img/icons/loader.GIF);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px 100px;
}

/*------------------------------------------*/
/*	CONTENT WRAPPER
/*------------------------------------------*/

#content_wrapper  {
	margin-top: 60px;
	overflow: hidden;
}

/*------------------------------------------*/
/*	HEADERS
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin-top: 0; 
	margin-bottom: 10px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 20px;
}

h4.small-title, .statistic-text {
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;		
}

/*------------------------------------------*/
/*	 PARAGRAPHS
/*------------------------------------------*/

p {
	color: #444;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
}

/*------------------------------------------*/
/*	 LISTS
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------*/
/*	 LINK SETTINGS
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	outline: none;
	border: none;
	text-decoration: none;
}

/*------------------------------------------*/
/*	 BUTTON SETTINGS
/*------------------------------------------*/

.btn {
	background-color: #edb21d;
	color: #fff;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;	
	letter-spacing: 1px;
	padding: 10px 20px;
	margin-top: 20px;
	margin-right: 10px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.btn:hover {
	background-color: #cf9b19;
	color: #fff;
}

/*------------------------------------------*/
/*	 SECTION TITLEBAR
/*------------------------------------------*/

.titlebar {
	margin-bottom: 60px;
	text-align: center;
}

.titlebar h3 {
	color: #2c2c2c;
	font-size: 28px;
	line-height: 28px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;	
}

.titlebar p {
	color: #444;
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
}

.titlebar p:after {
    display: block;
    content: "";
    height: 1px;
    width: 180px;
	background: #bbb;
    margin: 25px auto 0;
    position: relative;
}



/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 Logo Image    
/*------------------------------------------*/

.navbar-brand {
	height: 60px;
	padding: 17px 15px;
}
   
/*------------------------------------------*/
/*	 Navigation Bar    
/*------------------------------------------*/

.navbar {	
	margin-bottom: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.navbar-fixed-top { 
	background-color: #fff;
	border-bottom: none;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);	
}         

/*------------------------------------------*/
/*	 Navigation Menu    
/*------------------------------------------*/

.navbar-nav > li > a {
	color: #222;
	font-size: 13px;
	line-height: 60px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	padding: 0 12px;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

/*------------------------------------------*/
/*	 Navigation Menu Hover/Active
/*------------------------------------------*/

.navbar-nav > li > a:hover,
.navbar-nav > li > a.selected-nav {
	color: #edb21d;
	background-color: transparent;
}

.navbar-nav > li > a:focus {
	background-color: transparent;
}

/*------------------------------------------*/
/*	 Responsive Menu Button    
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
	background-color: transparent;
    padding: 10px;
	margin: 11px 30px 11px 0;
	border: none;
	color: #fff;
	border: 2px solid #333;
}

.navbar-toggle .icon-bar {
	background-color: #333;
}



/* ==========================================================================
   03. INTRO
   ========================================================================== */

#intro {
	width: 100%;
	background-image: url(../img/thumbs/intro-bkg.jpg);
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
	border-bottom: 1px solid #ccc;
}

/*------------------------------------------*/
/*	 INTRO SLIDER
/*------------------------------------------*/

.intro_slider {height: 660px;}

/*------------------------------------------*/
/*	 INTRO TEXT
/*------------------------------------------*/

#intro h2 {	
	color: #fff;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 50px;
	padding-top: 215px;
	margin-bottom: 15px;
}

#intro p {	
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	padding: 0 10%;
}

/*------------------------------------------*/
/*	 INTRO BUTTON
/*------------------------------------------*/

.intro_button .btn {
	font-size: 14px;
	margin-top: 40px;
	padding: 14px 28px;
}

.intro_button .btn:hover {
	background-color: #cf9b19;
}

/*------------------------------------------*/
/*	 Transparent Button
/*------------------------------------------*/

.intro_button .btn.btn-tra {
	background-color: transparent;
	padding: 13px 26px;
	margin-right: 15px;
	border: 2px solid #fff;
}

.intro_button .btn.btn-tra:hover {
	background-color: #cf9b19;
	border-color: #cf9b19;
	color: #fff;
}



/* ==========================================================================
   04. SERVICES
   ========================================================================== */

#services {
	padding-top: 100px;
	padding-bottom: 50px;
}

/*------------------------------------------*/
/*	 SERVICE BOX 
/*------------------------------------------*/

.service-box {
	margin-bottom: 50px;
}

/*------------------------------------------*/
/*	 Service Box Content
/*------------------------------------------*/

.service-box-icon {
	float: left;
	padding-right: 5px;
}

.service-box-icon i {
	color: #edb21d;
	font-size: 30px;
	margin-right: 10px;
}

.service-box-title h4 {
	padding-top: 6px;
}

.service-box-content p {
	margin-bottom: 0;
}



/* ==========================================================================
   05. OUR PROCESS
   ========================================================================== */

#our-process {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 100px;
	padding-bottom: 100px;
}

.our-process-item p {
	margin-bottom: 0px;
}

/*------------------------------------------*/
/*	Our Process Image
/*------------------------------------------*/

.our-process-item .img-responsive {
	margin-bottom: 20px;
}	



/* ==========================================================================
   06. ABOUT, ABOUT-1 
   ========================================================================== */

#about, #about-1 {
	padding-top: 100px;
	padding-bottom: 100px;
}

/*------------------------------------------*/
/*	ABOUT, ABOUT-1  Small Title
/*------------------------------------------*/

#about h4.small-title, 
#about-1 h4.small-title { 
	font-size: 17px; 
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	TABS
/*------------------------------------------*/

#tabs-holder { 
	margin-top: 40px;
}

.tab-pane { 
	padding: 15px 5px;
}

/*------------------------------------------*/
/*	TABS NAV
/*------------------------------------------*/

.nav-tabs > li > a {
	background-color: #f5f5f5;
    color: #444;
	font-size: 13px;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;	
	margin-right: 3px;
	border-radius: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;	
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background-color: #fff;
	color: #222;
}

/*------------------------------------------*/
/*	  ABOUT-1 VIDEO LINK
/*------------------------------------------*/ 

#about-1 .video-block {
	position: relative;
	padding-bottom: 60.25%;
	margin-top: 30px;
	height: 0;
	overflow: hidden;
}

#about-1 .video-block iframe,
#about-1 .video-block object,
#about-1 .video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

/*------------------------------------------*/
/*	  ABOUT-1 ACCORDION
/*------------------------------------------*/ 

#accordion { 
	margin-top: 40px;
}

/*------------------------------------------*/
/*	Accordion Panel
/*------------------------------------------*/

.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*------------------------------------------*/
/*	Accordion Panel Title
/*------------------------------------------*/

.panel-heading {
    padding: 0;
    border: 0 !important;
}

.panel-title > a {
    display: block;
    padding: 15px;
}

#about-1 h4.small-title.panel-title {
	font-size: 13px;
	font-weight: 900;
	margin-bottom: 0px;	
}

/*------------------------------------------*/
/*	Accordion Panel Content 
/*------------------------------------------*/

.panel-body {
	font-size: 16px;
	line-height: 24px;
	padding: 15px;
}



/* ==========================================================================
   07. PROMO LINE
   ========================================================================== */
   
#promo {
	background-color: #edb21d;
	padding-top: 100px;
	padding-bottom: 70px;	
} 

/*------------------------------------------*/
/*	PROMO LINE IMAGE
/*------------------------------------------*/

.promo-image .img-responsive { 
	display: inline-block; 
} 

.promo-line-image {
	margin-bottom: 50px;
}

/*------------------------------------------*/
/*	Promo Line Rotator Nav
/*------------------------------------------*/

.promo-image .flex-control-paging li a { 
	background: #cf9b19; 
	border: 2px solid #cf9b19;
}

/*------------------------------------------*/
/*	PROMO LINE TEXT
/*------------------------------------------*/

#promo-content h3 {
	color: #fff;	
} 

#promo-content p {
	color: #fff;
	margin-bottom: 10px;	
}

/*------------------------------------------*/
/*	 Transparent Button
/*------------------------------------------*/

#promo-content .btn.btn-tra {
	background-color: transparent;
	padding: 10px 20px;
	margin-top: 20px;
	margin-right: 15px;
	border: 2px solid #fff;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#promo-content .btn.btn-tra:hover {
	background-color: #cf9b19;
	border-color: #cf9b19;
	color: #fff;
}



/* ==========================================================================
   08. STATISTIC BANNER
   ========================================================================== */  
   
#statistic_banner {
	background-image: url(../img/parallax_bg/statistic.jpg); 
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*------------------------------------------*/
/*	  STATISTIC BLOCK
/*------------------------------------------*/ 

.statistic-number {
	color: #fff;
	font-size: 75px;
	line-height: 75px;
	font-weight: 900;
	letter-spacing: 1px;	
	margin-bottom: 10px;
}

.statistic-text {
	color: #fff;
	margin-bottom: 10px;
}

.statistic-block p {
	color: #fff;
	padding: 0 5px;
	margin-bottom: 0;
}



/* ==========================================================================
   09. TEAM
   ========================================================================== */
   
#team {
	padding-top: 100px;
	padding-bottom: 50px;	
}

/*------------------------------------------*/
/*	  TEAM MEMBER
/*------------------------------------------*/

.team-member {
	margin-bottom: 50px;
}

/*------------------------------------------*/
/*	  Team Member Photo
/*------------------------------------------*/

.team-member .img-responsive {
	display: inline-block;
}

/*------------------------------------------*/
/*	  Team Member Meta
/*------------------------------------------*/

.team-img-meta h5 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;	
	margin: 20px 0px 5px;
}

.team-img-meta h6 {
	font-size: 13px;
	color: #edb21d;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/*------------------------------------------*/
/*	  Team Member Social Icons 
/*------------------------------------------*/

.team-member-socials {
	text-align: right;
	display: inline-block;
	margin: 0 auto;
}

.team-member-socials li {
	float: left;
    display: inline-block !important;
    vertical-align: top;
    width: auto !important;
    clear: none !important;
}

.page_social {
	color: #666;
	font-size: 15px; 
    text-align: center;
    display: block;
	padding-right: 15px;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Team Member Social Icons Hover 
/*------------------------------------------*/

.page_social.ico_facebook:hover {color: #3b5998;}
.page_social.ico_twitter:hover {color: #00a9ed;}
.page_social.ico_behance:hover {color: #00a8e7; }
.page_social.ico_google_plus:hover {color: #cd1111;}
.page_social.ico_linkedin:hover {color: #015886;}
.page_social.ico_dribbble:hover {color: #d92d84;}
.page_social.ico_instagram:hover {color: #beb3a8;}
.page_social.ico_pinterest:hover {color: #ac281a;}
.page_social.ico_dropbox:hover {color: #008ad2;}
.page_social.ico_skype:hover {color: #00a9ed; }
.page_social.ico_youtube:hover {color: #cd1b20; }
.page_social.ico_tumblr:hover {color: #3a5976;}
.page_social.ico_vimeo:hover {color: #00adee;}
.page_social.ico_flickr:hover {color: #d2d2d2;}
.page_social.ico_github:hover {color: #222;}
.page_social.ico_renren:hover {color: #364a83;}
.page_social.ico_vk:hover {color: #3b5998; }
.page_social.ico_xing:hover {color: #015f5e;}
.page_social.ico_weibo:hover {color: #be4443;}
.page_social.ico_rss:hover {color: #ff6600;}
.page_social.ico_digg:hover {color: #222;}
.page_social.ico_deviantart:hover {color: #57675d;}
.page_social.ico_envelope:hover {color: #999;}
.page_social.ico_delicious:hover {color: #0A0A0A; }



/* ==========================================================================
   10. BIG PROMO
   ========================================================================== */

#big-promo {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*------------------------------------------*/
/*	 BIG PROMO IMAGE
/*------------------------------------------*/
	
.big-promo-image .img-responsive { 
	display: inline-block; 
} 

/*------------------------------------------*/
/*	 BIG PROMO CONTENT
/*------------------------------------------*/

.big-promo-content h3 {
	margin-bottom: 30px;
}

.big-promo-content p {
	margin-bottom: 15px;
}



/* ==========================================================================
   11. MAILCHIMP NEWSLETTER FORM
   ========================================================================== */

#newsletter { 
	background-color: #edb21d;
	background-image: url(../img/parallax_bg/newsletter.png);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 80px; 
	padding-bottom: 60px;
}

/*------------------------------------------*/
/*	  NEWSLETTER TITLE
/*------------------------------------------*/

#newsletter h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 28px;
	margin-bottom: 5px;	
}

#newsletter h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0px;
}

/*------------------------------------------*/
/*	  Newsletter Form Input
/*------------------------------------------*/

#newsletter form input[type="email"] {
    background-color: #fff;
	width: 60%;
	color: #414141;
	font-size: 14px;
    font-weight: 300;
    padding: 18px 24px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#newsletter form input[type="submit"] {
	width: 35%;
	background-color: #cf9b19;
	color: #fff;
	font-size: 14px;
    font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin-left: 3px;
    padding: 16px 22px;
	border: 2px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#newsletter form input[type="submit"]:hover {
	background-color: #444;
	border-color: #444;
}

#newsletter .message {
	font-size: 14px;
	margin-top: 20px;
}



/* ==========================================================================
   12. PORTFOLIO
   ========================================================================== */

#portfolio {
	padding-top: 100px;
	padding-bottom: 70px;
	position: relative;
}

/*------------------------------------------*/
/*	  PORTFOLIO TITLEBAR
/*------------------------------------------*/ 

#portfolio .titlebar {
	margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  PORTFOLIO FILTER BUTTONS
/*------------------------------------------*/ 

#gallery-filter {
	margin-bottom: 30px;
}

.btn-toolbar .btn-group {
    float: none;
}

/*------------------------------------------*/
/*	   Button Settings
/*------------------------------------------*/ 

#gallery-filter .btn-group > .btn {
	background-color: #f5f5f5;
    color: #444;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 14px;
	margin-top: 0;
	margin-right: 3px;
	text-shadow: none;
	-webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
     box-shadow: 0 0 0 0;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out; 
}

.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:last-child:not(:first-child) {
 	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	   Filter Button Hover
/*------------------------------------------*/ 

#gallery-filter .btn-group > .btn:hover {
	background-color: #edb21d;
	color: #fff;
}

/*------------------------------------------*/
/*	  Filter Button Active
/*------------------------------------------*/ 

#gallery-filter .btn-group > .btn.active,
#gallery-filter .btn-group > .btn.focus {
	background-color: #edb21d;
	color: #fff;
	box-shadow: 0 0 0 0;
	cursor: default;
}

/*------------------------------------------*/
/*	  PORTFOLIO IMAGES HOLDER
/*------------------------------------------*/ 

.portfolio-items-list {
	margin: 0;
}

/*------------------------------------------*/
/*	  Portfolio Item
/*------------------------------------------*/ 

.portfolio-item {
	position: relative;	
	display: none;
    opacity: 0;
	-moz-opacity: 0; 
	padding: 0 15px;
	text-align: center;
	margin-bottom: 30px;
}

.portfolio-item a {
	cursor: url(../img/icons/pointer.png),crosshair;
}

.hover-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.hover-overlay img {
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

/*------------------------------------------*/
/*	  Overlay Content 
/*------------------------------------------*/ 

.overlay-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	text-align: center;
	zoom: 1;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.overlay-content h4 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 5px;
}

.overlay-content h5 {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*------------------------------------------*/
/*	  Overlay Background 
/*------------------------------------------*/ 

.item-overlay {
	opacity: 0;
	-moz-opacity: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(237, 178, 29, .75);
	-moz-transition: opacity 400ms ease-out;
	-webkit-transition: opacity 400ms ease-out;
	-o-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

/*------------------------------------------*/
/*	  Image Hover Effect 
/*------------------------------------------*/ 

.hover-overlay:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.hover-overlay:hover .item-overlay {
	opacity: 1; 
	-moz-opacity: 1; 
}

.portfolio-item:hover .overlay-content {
	bottom: 42%;
	opacity: 1; 
	-moz-opacity: 1; 
}



/* ==========================================================================
   13. FEATURES LIST   
   ========================================================================== */

#features-list {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	padding-top: 100px;	
}

/*------------------------------------------*/
/*	  FEATURES LIST IMAGE
/*------------------------------------------*/

.features-list-image {
	padding-right: 40px;
}

.features-list-image .img-responsive {
	display: inline-block;
}

/*------------------------------------------*/
/*	  Features List Content
/*------------------------------------------*/

.features-list-content h3 {
	margin-top: 10px;
}

.features-list-content p {
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  List
/*------------------------------------------*/

.list li {
	position: relative;
}

/*------------------------------------------*/
/*	  List Icon
/*------------------------------------------*/

.list-icon {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 3px;
	color: #edb21d;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
}

/*------------------------------------------*/
/*	  List Content
/*------------------------------------------*/

.list-content {
	padding-left: 40px;

}



/* ==========================================================================
   14. TESTIMONIALS ROTATOR
   ========================================================================== */
   
#testimonials_rotator {
	background-image: url(../img/parallax_bg/testimonials.jpg); 
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 80px;
	color: #fff;
}

/*------------------------------------------*/
/*	 Testimonials Titlebar
/*------------------------------------------*/

#testimonials_rotator .titlebar h3 {
	color: #fff;
}

/*------------------------------------------*/
/*	 Testimonials Settings
/*------------------------------------------*/
   
.testimonials {
	margin-bottom: 60px;
}

/*------------------------------------------*/
/*	  Testimonial Message Avatar 
/*------------------------------------------*/ 

.flexslider .slides .testimonials img {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 auto 10px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

/*------------------------------------------*/
/*	 Testimonial Message Text
/*------------------------------------------*/

.client-msg p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	line-height: 32px;
    padding: 10px 15%;
}

/*------------------------------------------*/
/*	 Message Author
/*------------------------------------------*/

.testimonials p.author {
	color: #edb21d;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	 Testimonial Rotator Nav
/*------------------------------------------*/

.flex-control-paging li a {
	background: #444;
	border: 3px solid #444;
}

.flex-control-paging li a:hover { 
	background: #edb21d;
	border: 3px solid #edb21d; 
}

.flex-control-paging li a.flex-active { 
	background: #edb21d;
	border: 3px solid #edb21d; 
}



/* ==========================================================================
   15. CLIENTS
   ========================================================================== */
 
#clients {
	background-color: #f5f5f5; 
	border-bottom: 1px solid #eee;
	padding-top: 60px;
	padding-bottom: 60px;
}

/*------------------------------------------*/
/*	 CLIENT LOGO
/*------------------------------------------*/

.item {padding: 0 10px;}



/* ==========================================================================
   16. PRICING 
   ========================================================================== */

#pricing {
	padding-top: 100px;
	padding-bottom: 50px;
} 

/*------------------------------------------*/
/*	 PRICING TABLE
/*------------------------------------------*/

#price_1, #price_2, #price_3, #price_4 {
	margin-bottom: 50px;
	padding: 0 5px;
}

.pricing-table {
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*------------------------------------------*/
/*	 Table Header
/*------------------------------------------*/

.pricing-table h3 {
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 80px;	
	text-transform: uppercase;
	margin-bottom: 0;
	-webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
} 

/*------------------------------------------*/
/*	 Table Price Plan
/*------------------------------------------*/

.pricing-table .price {
	background-color: #ddd;
	height: 120px;
	color: #6f6f6f;
	font-weight: 900;
	line-height: 120px;
}

.price-row .price span {
	font-size: 80px;
	letter-spacing: -2px;
}

.price-row .price sup {
    top: -24px;
	font-size: 40px;
	font-weight: 500;
}

/*------------------------------------------*/
/*	 Table Body
/*------------------------------------------*/

.pricing-table ul.features {
	color: #333;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
    padding: 5px 40px;
}

.pricing-table ul.features li {
    border-bottom: 1px solid #ccc;
    padding: 13px 0; 
}

/*------------------------------------------*/
/*	 Table Button
/*------------------------------------------*/

.pricing-table .btn {
	background-color: #333;
	color: #fff;
	margin: 30px 0;
}

.pricing-table .btn:hover {
	background-color: #cf9b19;
	color: #fff;
}

/*------------------------------------------*/
/*	 Table Highlight
/*------------------------------------------*/

.pricing-table.highlight  {
	background-color: #edb21d;
	border-color: #edb21d;
	color: #fff;
}

.pricing-table.highlight h3 {
	color: #fff;
}

.pricing-table.highlight .price {
	background-color: #cf9b19;
	color: #fff;
}

.pricing-table.highlight ul.features {
	color: #fff;
}

.pricing-table.highlight ul.features li {
    border-color: #cf9b19;
}

/*------------------------------------------*/
/*	 Table Highlight Buttons
/*------------------------------------------*/

.pricing-table.highlight .btn:hover {
	background-color: #333;
}



/* ==========================================================================
   17. BLOG
   ========================================================================== */

#blog {
	border-top: 1px solid #eee;
	padding-top: 100px;
	padding-bottom: 50px;
} 

/*------------------------------------------*/
/*	  BLOG ARTICLE
/*------------------------------------------*/ 

#blog article {
	margin-bottom: 50px;  
}

/*------------------------------------------*/
/*	  Blog Post Titlebar
/*------------------------------------------*/ 

#blog .blog-post-titlebar h4 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	margin: 20px 0 5px;
}

/*------------------------------------------*/
/*	  Blog Post Meta
/*------------------------------------------*/ 

.blog-post-info {
	color: #666;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 10px;
	font-style: italic;
}

.blog-post-info a {
	color: #edb21d;
	font-weight: 600;
}

.blog-post-info a:hover {
	color: #222;
	text-decoration: underline;
}

/*------------------------------------------*/
/*	  Blog Post Description
/*------------------------------------------*/ 

.blog-post-desc p {
	color: #666;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  Article Link
/*------------------------------------------*/ 

.article_link a {
	background-color: transparent;
	color: #999;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 8px 14px;	
	border: 2px solid #999;
}

.article_link a:hover {
	background-color: #edb21d;
	color: #fff;
	border-color: #edb21d;
}

/*------------------------------------------*/
/*	  Video Content Settings
/*------------------------------------------*/ 

.video-block {
	position: relative;
	padding-bottom: 75.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.video-block iframe,
.video-block object,
.video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}



/* ==========================================================================
   18. BOTTOM PROMO LINE 
   ========================================================================== */ 

#bottom-promo_line {
	background-image: url(../img/parallax_bg/bottom-promo-line.jpg); 
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}   

/*------------------------------------------*/
/*	 BOTTOM PROMO LINE CONTENT
/*------------------------------------------*/  

#bottom-promo_line h2 {
	color: #fff;
	font-size: 30px;
	line-height: 36px;
	font-weight: 900; 
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
}

#bottom-promo_line p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
}

/*------------------------------------------*/
/*	 BOTTOM PROMO LINE Button
/*------------------------------------------*/  

#bottom-promo_line .btn { 
	margin-top: 10px;
}

/*------------------------------------------*/
/*	 Transparent Button
/*------------------------------------------*/

#bottom-promo_line .btn.btn-tra {
	background-color: transparent;
	padding: 9px 18px;
	margin-top: 10px;
	margin-right: 15px;
	border: 2px solid #fff;
}

#bottom-promo_line .btn.btn-tra:hover {
	background-color: #cf9b19;
	border-color: #cf9b19;
	color: #fff;
}



/* ==========================================================================
   19. FAQs 
   ========================================================================== */

#faq {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 100px;
	padding-bottom: 60px;
}

.question {
	margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  Question Settings
/*------------------------------------------*/

.faq-question-label {
	color: #edb21d;
	font-size: 15px;
	font-weight: 900;
	padding-right: 5px;
}

.question h4 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*------------------------------------------*/
/*	  Answer Settings
/*------------------------------------------*/

.faq-answer-label {
	color: #000;
	font-weight: 900;
	padding-right: 5px;
}

.question p {
	color: #444;
	margin-bottom: 0;
}



/* ==========================================================================
   20. CONTACTS 
   ========================================================================== */

#contact {
	padding-top: 100px;
	padding-bottom: 75px;
} 

/*------------------------------------------*/
/*	  CONTACT FORM
/*------------------------------------------*/

#contact-form .form-control {
	height: 50px;
	font-size: 14px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	box-shadow: 0 0 0 0;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	background-color: #f3f3f3;
	color: #444;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 12px 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	box-shadow: 0 0 0 0;
}

#contact-form textarea {
	min-height: 180px;
}

/*------------------------------------------*/
/*	  Contact Form Input Focus
/*------------------------------------------*/

.form-control:focus {
    outline: 0px none;
    box-shadow: none;
}

/*------------------------------------------*/
/*	  Contact Form Error Message 
/*------------------------------------------*/

.error {
	color: red;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  CONTACT INFO 
/*------------------------------------------*/

#contacts-info {
	padding-left: 50px;
}

.contact-data {
	margin-bottom: 25px;
}

.contact-data h4.small-title {
	margin-bottom: 10px;
}

.contact-data p {
	color: #444;
	margin-bottom: 5px;
}

.contact-data a {
	color: #edb21d;
	font-weight: 900;
}

.contact-data a:hover {
	color: #222;
	text-decoration: underline;
}



/* ==========================================================================
   21. CALL TO ACTION 
   ========================================================================== */

#call-to-action {
	background-color: #edb21d;
	background-image: url(../img/parallax_bg/call-to-action.png);
	background-attachment: fixed !important;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*------------------------------------------*/
/*	 CALL TO ACTION TEXT
/*------------------------------------------*/

#call-to-action h3 {
	color: #fff;
	font-size: 26px;
	line-height: 26px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

#call-to-action p { 
	color: #fff; 
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	 Transparent Button
/*------------------------------------------*/

#call-to-action .btn.btn-tra {
	background-color: transparent;
	padding: 15px 50px;
	margin-top: 0;
	margin-right: 0;
	border: 2px solid #fff;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#call-to-action .btn.btn-tra:hover {
	background-color: #444;
	border-color: #444;
	color: #fff;
}



/* ==========================================================================
   22. FOOTER
   ========================================================================== */ 
 
#footer {
	padding-top: 80px;
	padding-bottom: 70px;
}

/*------------------------------------------*/
/*	 FOOTER COPYRIGHT  
/*------------------------------------------*/

#footer_copyright p {
	color: #444;
	line-height: 26px;
	margin-bottom: 0;
	margin-left: 7px	;
}

#footer_copyright p span {
	color: #edb21d;
	font-weight: 700;
}

/*------------------------------------------*/
/*	 FOOTER LINKS  
/*------------------------------------------*/

.contact-socials {
	display: inline-block; 
	padding-left: 0;
}

.contact-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	padding: 0;
}

.foo_link {
	text-align: center;
	color: #444;
	font-size: 15px;
    line-height: 26px;
	margin: 0 7px;
    display: block;
}

.foo_link:hover {
	color: #edb21d;
	text-decoration: underline;
}



/* ==========================================================================
   23. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color: rgba(65, 65, 65, 0.65);
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}

#scrollUp:hover {
	background-color: rgba(237, 178, 29, 1);	
}

nav a#pull {  
    display: none;  
}


/* ==========================================================================
   24. CONTACT FORM RESPONSE PAGE   
   ========================================================================== */
   
#form_response {
	margin: 50px auto; 
}

#form_response .img-responsive { 
	display: inline-block;
}

#form_response h1 {
	font-size: 22px; 
	font-weight: 900;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

#form_response p {
	font-size: 16px; 
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 5px;
}

#form_response p span { 
	font-size: 18px; 
	font-weight: 900;
}

#form_response .btn {
	background-color: #edb21d;
	color: #fff;
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;	
	letter-spacing: 1px;
	padding: 15px 40px;
	margin-top: 25px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#form_response .btn:hover {
	background-color: #cf9b19;
}


